body {
    background-color: black;
  }
  
  h1 {
    color: white;
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
  }

  h2 {
    color: white;
    font-family: Verdana;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
  }

  h3 {
    color: gray;
    font-family: Verdana;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
  }

  .video {
    display: block;
    margin: 0 auto;
}

  .camp {
      display:block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  }

  .phone {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    height: 5%;
    
}

  .link {
      color:aquamarine;
      font-size: 16px;
  }

  footer {
    text-align: right;
    color: gray;
    font-family: Verdana;
    font-size: 15px;
    font-weight: normal;
  }